/* from main.css */
/* Last update: 10/15/18 */

*, *:before, *:after {box-sizing:  border-box;}

html, body {
	margin: 0;
	padding: 0;
	
}

body {
	font-family: "Helvetica Neue", "Segoe UI", "Roboto", sans-serif-regular, sans-serif;
    color: #4f4f4f;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5em;
	-ms-overflow-style: scrollbar;
}

a, a:link {
	text-decoration: none;
	/*color: #0572ce; DL*/	
	color: #069; /*DL*/
}
a:hover {
	text-decoration: underline;
    color: #145c93;
}
a:visited {
	text-decoration: none;
color: #145c93; /*DL*/
}

a:focus {
	text-decoration: underline;
}
    
h1 {
	font-size: 36px;
	line-height: 1.1em;
	font-weight: normal;
	color: #D24541;
	margin: 15px 0 15px 0 !important;
}
h2 {
	font-size: 30px;
	line-height: 1.2em;
	color: #727272;
	margin: 15px 0 15px 0;
	font-weight: normal;
}
h3 {
	font-size: 24px;
	line-height: 1.2em;
	font-weight: normal;
	color: #171717;
	margin: 15px 0 15px 0;
}
h4 {
	font-size: 18px;
	line-height: 1.2em;
	font-weight: normal;
	color: #171717;
	margin: 12px 0 12px 0;
}
h5 {
	font-size: 15px;
	color: #171717;
	margin: 12px 0 4px 0;
}
h6 {
	font-size: 15px;
	color: #171717;
	margin: 15px 0 4px 0;
}

h1 img, h2 img, h3 img, h4 img, h5 img {
	vertical-align: text-bottom;
	margin-right: 10px;/*used for icons on category page*/
    margin-left:4px;
    float: left; /*required for icons in main category page*/
}

hr {
	height: 1px;
	border: 0;
	background-color: #d6dfe6;
	color: #d6dfe6;
	    margin-top: 8px;
    margin-bottom: 15px;
}

//* For Learnging Path Callback dialog box *//
hr.wide {
	height: 1.5px;
	border: 0;
	background-color: #d6dfe63;
	color: #d6dfe6;
	    margin-top: 8px;
    margin-bottom: 15px;
}

#content {
	position: relative;
	border-right-style:1px solid transparent;
	margin-top: 55px;
	overflow-x: hidden;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear: both;
	/*overflow:auto;*/
	height: 0px;
	font-size: 1px;
	line-height: 0px;
}

.border {
	border: 1px solid #d6dfe6;
}
.border-top {
	border-top: 1px solid #d6dfe6;
}
.border-bottom{
	border-bottom: 1px solid #d6dfe6;
}
.border-right {
	border-right: 1px solid #d6dfe6;
}
.border-left {
	border-left: 1px solid #d6dfe6;
}

/* from respond-768-laptop.css */
@media only screen and (min-width: 768px) {
    #bookContainer {
        height: 100%;
        margin-left: 220px;
    }
    #content {
        margin-top: 55px;
    }
}

/* from respond-1140-laptop.css */
@media only screen and (min-width: 1140px) {
    .w1024 {
        width: 1024px;
    }
}

/* from header.css */
header {
	width: 100%;
	min-height:55px;
	right: 0;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 50;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	display:block;
	border-bottom:1px solid #A9BBD0;
}

.oracle-logo {
    float: left;
    margin: 10px;
}

header a:visited {
	text-decoration: none;
	color: #145c93;
}

@media only screen and (min-width: 480px) {
    header,#header {
		border-bottom: 1px solid #fff;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (min-width: 768px) {
    .oracle-logo {
        margin-left:20px;
        margin-top:17px;
    }
}

@media only screen and (min-width: 1140px) {
    header, #header {
		min-height: 55px;
		min-width: 1024px;
    }
}

/* from footer.css */
.footer-container {
    position: relative;
	border-top: 1px solid #d9dfe3;
	width:100%;
	float:left;
	left: 0;
	margin: 0 auto;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eaeaea 0%, #ffffff 100%); /* W3C */
}
.footer-list {
	float:left;
	margin: 0;
	padding: 0;
}
.footer-list ul {
	padding: 0;
	margin: 0;
	margin-left: -7px;
}
.footer-list li {
	display: inline;
	padding: 0 7px;
	font-size: 11px;
	border-right: 1px solid #cbcbcb;
	list-style-type: none;
}
.footer-list li:last-child {
	border-right: none;
}
.footer-list ul li a:link {
	color:#145c93;
}

/* from leftnav.css */
.navback {
	width: 40px;
	position: absolute;
	z-index: -1;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
}
.navbackwide {
	width: 40px;
	position: absolute;
	z-index: -1;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
}
/*(needed for icon fonts)*/	
.left-nav span:before {
	display: inline-block;
}
.left-nav {
	width: 152px;
	margin-left: 7px;
	float: left;
	height: 100%;
	position: relative;
	bottom: 0;
	padding-top: 20px;
	display: none;
}
#sidebar {
	position: relative;
	top: 0;
	bottom: 0;
	width: 220px;
	height: auto;
	display: none;
}
.left-nav-w {
	width: 211px;
	margin-left: 8px;
	float: left;
	height: 100%;
	position: relative;
	bottom: 0;
	top: 0;
}
.left-nav ul {
	display: block;
	font-size: 14px;
	line-height: 17px;
	list-style: none outside none;
	text-transform: none;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	border-left: 3px solid #fff;
}
.left-nav-w ul {
	display: block;
	font-size: 14px;
	line-height: 17px;
	list-style: none outside none;
	text-transform: none;
	margin-left: 0;
	margin-top: 0;
		margin-bottom: 0;
	padding: 0;
	border-left: 3px solid #fff;
}
.left-nav li, .left-nav-w li {
	color: #145c93;
	background-color: #fff;
	display: block;
	width: 100%;
	padding: 0;
}
.left-nav ul li a{
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 13px 8px 13px 7px;
	background-color: #fff;
	border-left: 3px solid #fff;
}
.left-nav-w ul li a {
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 13px 8px 13px 7px;
/*	background-color: #fff;
	border-left: 3px solid #fff;*/
}
.left-nav ul ul, .left-nav-w ul ul {
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	padding: 0;
/*	border-left: 3px solid #fff;*/
}

.left-nav ul ul > li a {
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 7px;
	background-color: #fff;
	border-left: 3px solid #fff;
}
.left-nav-w ul ul > li a {
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 5px 8px 5px 7px;
}

.left-nav-tut {
	position: relative;
	max-width: 220px;
}
.left-nav-tutscrl {
	position: fixed;
	height: 100%;
	top: 0;
	margin-top: 0;
	width: 100%;
	overflow-y: auto;
    overflow-x: hidden;
}
.left-nav-w .active > a  {
	border-left: 3px solid;
	background-color: #E4F0FA;
	font-weight: bold;
}

/*scrollspy show hide*/

.left-nav-w .nav .nav {
display: none;
}

.left-nav-w  .nav>.active>li,
.left-nav-w .nav>.active>ul {
display: block;
}


.left-nav-w  .nav>li>a , .left-nav-w  .nav>li {
display: block;
}
#shownav {
/*/	background-image: url(../img/btn-open-nav.png);
	background-repeat: no-repeat; /*/
	display: none;
	width: 40px;
	height: 36px;
	position: absolute;
	cursor: pointer;
	top: 0;
    font-size: 27px;
    text-align: center;
}
#hidenav {
/*/ background-image: url(../img/btn-close-nav.png);
	background-repeat: no-repeat; /*/
	display: none;
	height: 36px;
	position: relative;
	cursor: pointer;
	top: 0;
	margin-left: 120px;
    font-size: 27px;
}
#shownav input, #hidenav input, #hidenavw input{border:none;}

#hidenavw {
/*/ background-image: url(../img/btn-close-nav.png);
	background-repeat: no-repeat; /*/ 
	display: none;
	height: 24px;
	position: relative;
	cursor: pointer;
	top: 0;
	margin-left: 190px;
}

@media only screen and (min-width: 768px) {
    .navback {
        width: 160px;
    }
    .navbackwide {
        width: 220px;
    }
    #hidenav,#hidenavw  {
        display: none;
    }

    .left-nav {
        display: block;
    }
    #sidebar {
        display: block;
    }
}

/* from obe_poc.css */
/* 
 * Version: 4/3/17 
 *
 */
body{
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

tutorial{
    background-color: #145C93;
    color: white;
    font-weight: 400;
    margin-left: 10px;
    padding: 3px 13px 3px 13px;
}

h1{
    font-weight: 300;
    padding-left: 10px;
    padding-top: -20px;
}

/*
h2{
    background-color: #E4F0FA;
    color: #145C93;
    margin-left: 10px;
    padding: 5px 0px 5px 5px;
}
*/

h2{
    font-weight: 300;
    background-color: #E4F0FA;
    color: #145C93;
    margin-left: 55px;
    padding: 5px 0px 5px 5px;
}

.num_circ{
    margin-left: -45px;
}

h3{
    font-weight: 300;
    color: #145C93;
    margin-left: 62px;
}

h4{
    color: #145C93;
    margin-left: 62px;
}

article p{
    font-size: 14px;
    line-height: 1.4;
    margin-left: 62px;
}

/* TMM 10/14/17 */
article > figure, section > figure {
    margin-left: 62px;
}

article > figure img, section > figure img {
    border-color: #9B9B9B;
    border-style: solid;
    border-width: 1px;
}

/* Deprecated */
/* class="note" is no longer required. Maintained for backward compatibility */
article p.note {
    margin-left: 0;
}

article ul{
    font-size: 14px;
    line-height: 1.4;
    list-style: none;
}

article ul li {
    margin: 0 0 7px 0;
    /*padding-left: 40px;  TMM: removed 4/1*/
    text-indent: -17px;
}

article ul li::before {
    color: #145C93;
    content: "\25A0 " ;
    list-style: square outside;
    padding-right: 5px;
}

article ol{
    font-size: 14px;
    list-style-position: outside;
    margin-left: 40px;
}

/* TMM: added 4/1 */
article ul{
    font-size: 14px;
    list-style-position: outside;
    margin-left: 40px;
}

article ol li{
    margin: 0 0 7px 0;
}

article ol li table{
    margin-top: 10px;
    width: 90%;
}


article ol li tr th{
    border-style: solid;
    background-color: #000;
    color: white;
    border-width: 0px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

article ol li tr td{
    border-bottom-style: solid;
    border-color: #000;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
}


/* TMM changed border color 4/3/17 */
article ol figure img{
    border-color: #9B9B9B;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-left: -40px;
    max-width: 600px;
    position: static;
    /*width: 75vw;*/
}

/* TMM: Added 3/29/17 */
/* TMM changed border color 4/3/17 */
article ul figure img{
    border-color: #9B9B9B;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-left: -40px;
    max-width: 600px;
    position: static;
    /*width: 75vw;*/
}

/* TMM: Added 3/29/17 */
article ul li figcaption{
    padding-left: 17px;
}


article ol ul{
    font-size: 14px;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 7px -23px;
}

article ol ul li {
  padding-left: 0px;
  text-indent: -17px;
}

article ol ul li::before {
  color: #145C93;
  content: "\25A0 " ;
  list-style: square outside;
  padding-right: 5px;
}

/* Set margins for paragraphs in list items (<li>) in 
   ordered (<ol>) and unordered (<ul>) lists. 
*/
 
 /* Usage: 
    DON'T surround the first paragraph in a list item with <p></p>. 
    DO surround subsequent paragraphs in a list item  with <p></p> 

    This makes the class selector p.note unnecessary. 
    That is, you no longer have to use <p class="note">
*/

 article li p {
    margin: 7px 0px 7px -1px;
    text-indent: 0px;    
}
 
article ul  li > p {

    display: block;
}

pre {
    -webkit-overflow-scrolling: touch ;
    background-color: #EEF5FC;
    border: 1px solid #E4F0FA;
    border-radius:3px;
    color: #222;
    line-height: 1.615;
    overflow: auto;
    padding: 10px;
    display: block;
    white-space: pre !important;
    word-wrap: normal !important;
}

code, kbd, pre, samp {
    font-size: 110%;
    font-family: "Courier New", Courier, monospace;
}

pre code {
    font-size: 100%;
}

.breadcrumb{
    margin-left: 10px;
    padding: 3px 13px 3px 13px;
    font-size: 14px;
    line-height: 1.4;
}

.h2_white{
    background-color: #fff;
}

.h2_white a:hover{
    text-decoration: none;
    border-bottom: dashed 1px #145C93;
}

article ol figure figcaption{
    margin: 5px 0px 0px -40px;
}

/* TMM: Added 3/28/17 */
article ul figure figcaption{
    margin: 5px 0px 0px -40px;
}


/* from print.css */
@media print {
    #sidebar,#bar1,bar2{
        display:none;
    }
}


/* for embed mode */
body.embed > header, body.embed #content > .margin-left, body.embed .footer-container {
    display: none;
}
body.embed #content, body.embed #content > .w1024 {
    margin-top: 0 !important;
}


/* LEARNING PATH INTEGRATION */
/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #CCD6DD;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0.6;
    z-index: 999;
}

/* The dialog popup window div class */
.obe_dialog {
    display:none;
    background: #F7F7F7;
    padding: 10px;
    border: 2px solid #DFE3EE;
    float: left;
    font-size: 1.2em;
    position:fixed;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
    min-width: 200px;
    min-height: 200px;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */    
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
}

/* Position the close button */
#btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

li.dialog {
    color: #145C93;
    content: "\25A0 " ;
    list-style: square outside;
    padding-right: 5px;
}

#dialog-container {
    overflow-y: auto;
}

/* Dialog box for the associated LPs */
/* This class is applied to the mask*/
.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    float: left;
   
}

/* Modal Content applies to div containing the header, content, and got it button*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
   
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    top: 20%;
    min-width: 200px;
    min-height: 200px;
    z-index: 99999;
    font-size: 1.2em;
    border: 2px solid #CCD6DD;
    border-radius: 15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Header Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #CCD6DD;
    border-radius: 13px 13px 0px 0px;
}

.modal-body {
    padding: 2px 16px;
    overflow-y: auto;
}

/* The Got It Button */
.close2:hover,
.close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

div.closeBtn {
    height: 5em;
    position: relative 
}

div.closeBtn p {
    margin: 0;
    background: #1651af;
    position: absolute;
    color: white;
    /* font-size: 2em; */
    font-size: 1em;
    top: 50%;
    left: 50%;
    
    padding-bottom: 0.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; 
}